<launch>

  <rosparam command="load" file="$(find mrntc_ref_launch)/configuration_files/robot_localisation/robot_localisation.yaml" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_corrected_base_link_broadcaster" args="0 0 0 0 0 0  /base_link_corrected /base_link2 10"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true" output="screen" /> 


</launch>