<launch>
  <param name="/use_sim_time" type="bool" value="true"/>

  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0  /map /odom 10"/>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_base_link_broadcaster" args="0 0 0 0 0 0  /base_footprint /base_link 10"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_laser_broadcaster" args="0 0 0 0 0 0  /base_link /laser 10"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_imu_broadcaster" args="0 0 0 0 0 0  /base_link /camera_imu_optical_frame 10"/>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find mrntc_ref_launch)/configuration_files
          -configuration_basename cartographer_youbot.lua"
      output="screen">
    <remap from="echoes" to="horizontal_laser_2d" />
    <remap from="imu" to="camera/imu" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

</launch>