<!-- Launches detection of aruco markers and aruco slam -->

<launch>
  <arg name="camera_namespace"  default="camera/color"/>
  <arg name="base_frame"  default="camera_link"/> 
  <arg name="publish_tf"  default="true"/>
  <arg name="fiducial_len"  default="0.14"/>
  <arg name="odom_frame"  default="camera_link"/>
   

  <!-- aruco marker detection with parameters set for turtlebot -->
  <include file="$(find mrntc_ref_launch)/launch/aruco/aruco_detect.launch">
    <arg name="camera"  value="$(arg camera_namespace)"/>
    <arg name="image" value="image_raw"/>
    <arg name="transport" value="compressed"/>
    <arg name="fiducial_len" value="$(arg fiducial_len)"/>
    <arg name="dictionary" value="7"/>
    <arg name="do_pose_estimation" value="true"/>
  </include>

  <!-- aruco marker slam with parameters set for turtlebot -->
  <include file="$(find mrntc_ref_launch)/launch/aruco/aruco_slam.launch">
    <arg name="camera" value="$(arg camera_namespace)"/>
    <arg name="map_frame" value="map"/>
    <arg name="odom_frame" value="$(arg odom_frame)"/>
    <arg name="base_frame" value="$(arg base_frame)"/>
    <arg name="publish_tf" value="true"/>    <!--true for standalone operation, false for operation with robot_localisation-->
    <arg name="tf_publish_interval" value="0.2"/>
    <arg name="future_date_transforms" value="0.0"/>
    <arg name="publish_6dof_pose" value="true"/>
    <arg name="fiducial_len" value="$(arg fiducial_len)"/>
    <arg name="systematic_error" value="0.01"/>
    <arg name="do_pose_estimation" value="true"/>
    <arg name="covariance_diagonal" value="[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"/>
  </include>


</launch>